@media (max-width: 820px) {
    .iphone-pro-max {
        background-color: #f8f2dc;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        position: relative;
        height: 100vh;
    }





    .rectangle1 {
        background: linear-gradient(90deg, rgba(170, 52, 13, 0.85) 24.48%, rgba(170, 52, 13, 0) 100%);
        border: 0.5px solid;
        border-color: #b52c00;
        height: 21px;
        right: 32px;

        position: absolute;
        top: 37px;
        width: 95px;
    }

    .text {
        font-family: "Proza Libre-SemiBold", Helvetica;
        font-size: 8px;
        color: #ffffff;
        font-weight: 600;
        right: 22px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 42px;
        width: 95px;

    }

    .rectangle2 {
        border: 0.5px solid;
        border-color: #7b3c28;
        height: 25px;
        right: 22px;
        position: absolute;
        top: 35px;
        width: 101px;
    }


    .harbiyerestaurant {
        position: absolute;
        top: 70px;
        width: 10rem;
        height: 10rem;
    }

    .rectangle3 {
        position: absolute;
        width: 200px;
    }

    .rectangle4 {
        width: 150px;
        position: absolute;
        height: 11px;
        top: 83px;
        background: linear-gradient(90deg, #CCA7A7 0%, rgba(229.50, 228.06, 227.59, 0.85) 28%, rgba(242.25, 204.32, 191.78, 0.90) 41%, rgba(255, 255, 255, 0.61) 51%, rgba(241.19, 207.20, 195.96, 0.78) 61%, white 74%, rgba(255, 255, 255, 0) 88%);
    }

    .rectangle5 {
        width: 150px;
        position: absolute;
        height: 11px;
        top: 175px;
        background: linear-gradient(90deg, #CCA7A7 0%, rgba(229.50, 228.06, 227.59, 0.85) 28%, rgba(242.25, 204.32, 191.78, 0.90) 41%, rgba(255, 255, 255, 0.61) 51%, rgba(241.19, 207.20, 195.96, 0.78) 61%, white 74%, rgba(255, 255, 255, 0) 88%);
    }

    .flexcontainer {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .textp {


        font-family: "Cormorant Garamond", Helvetica;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 4.5px;
        align-self: stretch;
        line-height: 60px;
        position: relative;
        text-transform: uppercase;
    }

    .text-wrapper1 {
        color: #8c8484;
        position: absolute;
    }

    .text-wrapper2 {
        color: #8c8484;
        position: absolute;
        left: 125px;



    }

    .text-wrapper3 {
        color: #8c8484;
        position: absolute;
        top: 22px;



    }

    .span1 {
        color: #8a8a8a;
        position: absolute;
        top: -12px;

    }

    .span2 {
        color: #8a8a8a;
        position: absolute;
        top: -12px;
        left: 90px;
    }

    .span3 {
        color: #8a8a8a;
        position: absolute;
        top: 9px;

    }

    .leftdiv {
        position: absolute;
        top: 275px;
        left: -70px;

    }

    .recandleft {
        position: absolute;
        translate: -100px;
        margin-top: -20px;
    }


    .rightdiv {
        position: absolute;
        top: 425px;
        left: 70px;



    }

    .rectangle6 {
        width: 200px;

    }

    .yemek {
        width: 180px;
        height: 170px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .rectangles {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;


    }


    .divmenu {

        height: 145px;
        right: -8px;
        position: absolute;
        top: 165px;
        width: 138px;
        border-radius: 20px;
    }

    .menu {
        translate: -40px;
        position: absolute;
        top: 305px;

    }

    /* .menutext {
        font-family: "Proza Libre-SemiBold", Helvetica;
        font-size: 15px;
        color: #ffffff;
        font-weight: 600;
        right: 22px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 235px;
        width: 65px;


    } */

    .buton {

        color: #ffffff;
        width: auto;
        text-decoration: none;
        background: linear-gradient(90deg, rgba(170, 52, 13, 0.85) 24.48%, rgba(170, 52, 13, 0) 100%);
        border: 0.5px solid;
        border-color: #b52c00;
        height: 125px;
        right: 3px;
        border-radius: 5px;
        position: absolute;
        top: 175px;
        width: 115px;


    }


    .buton span {

        font-family: "Proza Libre-SemiBold", Helvetica;
        font-size: 15px;
        color: #ffffff;
        font-weight: 600;
        right: -1px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 50px;
        width: 115px;


    }

    .buton:hover {
        animation: shakeAnimation 0.1s backwards;
    }

    .buton:hover span {
        border: none;



    }


}

@keyframes shakeAnimation {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}